*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(Nuotraukos/grass.jpg) ;
    }

    
    @-webkit-keyframes blackWhite {  
      0% { background-color: rgb(243, 88, 88); }
      50% { background-color: rgb(233, 229, 23); }
      75% { background-color: rgb(160, 37, 37); }
      100% { background-color: rgb(16, 78, 10); }
    }
    
    .antraste {
        height: 100px;
        padding: 30px;       background-color: rgb(172, 38, 38);
        -webkit-animation-name: blackWhite;  
        -webkit-animation-iteration-count: infinite;  
        -webkit-animation-duration: 5s; 
    }


.juosta {
    padding: 20px;
}
.isskleidimas {
    background-color: #4c74af;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .juosta {
    position: relative;
    display: inline-block;
  }
  
  .pirmas {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .pirmas a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .pirmas a:hover {background-color: #f1f1f1}
  
  .juosta:hover .pirmas {
    display: block;
  }
  
  .juosta:hover .isskleidimas {
    background-color: #3e8e41;
  }
  
  .antras{
    background-color: #4c74af;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .trecias{
    background-color: #4c74af;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .ketvirtas{
    background-color: #4c74af;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .penktas{
    background-color: #4c74af;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;   
    }

  .centras{
    text-align: center;
    margin: 20px;
  }

  .stulpelis {
    float: left;
    padding: 10px;
    height:auto; /* Should be removed. Only for demonstration */
  }
  
  .Kaireje, .Desineje {
    width: 20%;
   }
  
  .Centre {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .pagrindas:after {
    content: "";
    display: table;
    clear: both;
  }
   